* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f7;

  font-family: sans-serif;
  font-size: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}

@media all and (orientation: portrait) {
  .container {
    aspect-ratio: 2/3;
    width: 80%;
  }
}
@media all and (orientation: landscape) {
  .container {
    aspect-ratio: 2/3;
    height: 80%;
  }
}

.item {
  margin-left: 10%;
  margin-right: 10%;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  margin-top: 3%;
}

.item-1 {
  margin-top: 6%;

  font-family: sans-serif;
  font-size: 3vmin;
  text-align: center;
  color: #ff6b82;
}

.item-2,
.item-3,
.item-4 {
  height: 15%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  text-align: center;

  display: flex;
}

.item-4 {
  height: 15%;

  display: flex;
}

.discount {
  width: 20%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  font-family: sans-serif;
  color: #ffffff;
  background-color: #ff6b82;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-button,
.main {
  box-shadow: 0px -1px 0px #f1f1f1, 0px 1px 0px #f1f1f1;
}

.radio-button {
  width: 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  width: 35%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular {
  width: 35%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -1px 0px #f1f1f1, 0px 1px 0px #f1f1f1, 1px 0px 0px #f1f1f1;

  font-size: 84%;
  color: #ff6b82;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-5 > .delivery {
  float: left;
  color: #ff6b82;
}

.item-5 > .bill {
  float: right;
}

.item-6 {
  height: 6%;
}

.add-cart-button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;

  color: #ffffff;
  background-color: #ff6b82;
}

.add-cart-button:hover {
  background-color: #ff2c31;
}

.add-cart-button:active {
  box-shadow: 2px 2px 2px #ababab;
}

.item-7 {
  margin-top: 1%;

  display: flex;
  justify-content: center;
}

.powered-by {
  color: #cecece;
}

.pumper {
  color: #ff2c31;
}

.expanded-1,
.expanded-2,
.expanded-3 {
  margin-top: 3%;
  height: 30%;
  border: 2px solid #ff6b82;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: #fff9fa;

  display: flex;
  flex-direction: column;
}

.data {
  width: 100%;
  height: 40%;

  display: flex;
}

.radio-button-selected {
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.details {
  width: 40%;
  align-content: center;
}

.detail-1 {
  margin-bottom: 2%;
}
.cutoff {
  width: 30%;
  align-content: center;
}

.small-off {
  width: 60%;
  height: 60%;
  padding: 2%;
  margin-bottom: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  font-size: 70%;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b82;
}

.small-price {
  width: 100%;
  height: 60%;
  padding: 2%;

  font-size: 60%;
  text-align: left;
  color: #949091;
}
.chart {
  width: 100%;
  height: 60%;

  display: grid;
  grid-template-rows: 20% 40% 40%;
  grid-template-rows: 20% 40% 40%;
}

.grid-item-1 {
  font-size: 85%;

  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: left;
  align-items: end;
}

.grid-item-2 {
  font-size: 85%;

  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  justify-content: left;
  align-items: end;
}

.grid-item-3 {
  grid-column: 1/2;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  align-content: center;
}

.grid-item-5 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-content: center;
}

.grid-item-6 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-7 {
  grid-column: 2/3;
  grid-row: 3/4;
  align-content: center;
}

.grid-item-8 {
  grid-column: 3/4;
  grid-row: 3/4;
  align-content: center;
}

.chart-dropdown {
  width: 80%;
  height: 60%;
}

.expanded-1 {
  display: none;
}

.expanded-2 {
  display: none;
}

.expanded-3 {
  display: none;
}

.offer {
  margin-bottom: 5%;
  font-size: 2.5vmin;
}

.price,
.discount {
  font-size: 2.5vmin;
}

.delivery,
.bill,
.popular,
.powered-by,
.add-cart-button,
.data,
.chart,
.chart-dropdown {
  font-size: 2vmin;
}
